$black: #0d0d0d;
$white: #f2f2f2;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pattaya";
  font-family: "Henny Penny";
}

p {
  font-family: "Roboto", sans-serif;
}
